body {
        background-color: rgb(60, 100, 100);
        font-family: Ubuntu, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        color: black;
}
.container {
        max-width: 600px;
        margin: 5px;
        margin-left: 3px;
        padding: 20px;
        background: rgb(0, 152, 152);
        border-radius: 8px;
        box-shadow: 5px rgba(0,0,0,0.1);
        margin-left: 1px;
        border-left: 2px solid magenta;
        overflow: hidden;
        color: black;  
}
.special {
        color: black;
}
h2, h3, p {
  color: #333;
}
h4 {
  color: rgb(204, 51, 0);
}
a {
  color: blue;
}
hr {
  border: 1px solid #eee;
}
footer{
  background-color: #7575a3;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: bottom;
  bottom: 1;
  width: 100%;
}



